
@model MenuVM
@{
    int count = 0;
}
<h1>
    MenuFoods
    <a class="btn btn-primary" asp-action="Create">Create</a>
</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Food Name</th>
                <th scope="col">Food Description</th>
                <th scope="col">File Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Foods)
            {
                count += 1;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.FoodName</td>
                    <td>@item.FoodDescription</td>
                    <td><img src="~/admin/Upload/fooditem/@item.ImgUrl" alt="Alternate Text"/></td>
                    <td>
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.ID">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
